:root {
  --mainColor: #252422;
  --lightColor: #fff;
  --orangeColor: #d27722;
  --creamyColor: #ffdbb8;
  --textColor: #403d39;
}

@font-face {
  font-family: "Outfit";
  font-display: swap;
  src: url("../fonts/Outfit-Regular.woff2") format("woff2"), url("../fonts/Outfit-Regular.woff") format("woff");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "Outfit";
  font-display: swap;
  src: url("../fonts/Outfit-Medium.woff2") format("woff2"), url("../fonts/Outfit-Medium.woff") format("woff");
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: "Outfit";
  font-display: swap;
  src: url("../fonts/Outfit-SemiBold.woff2") format("woff2"), url("../fonts/Outfit-SemiBold.woff") format("woff");
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: "Outfit";
  font-display: swap;
  src: url("../fonts/Outfit-Bold.woff2") format("woff2"), url("../fonts/Outfit-Bold.woff") format("woff");
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: "Kanit";
  font-display: swap;
  src: url("../fonts/Kanit-Regular.woff2") format("woff2"), url("../fonts/Kanit-Regular.woff") format("woff");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "Kanit";
  font-display: swap;
  src: url("../fonts/Kanit-Medium.woff2") format("woff2"), url("../fonts/Kanit-Medium.woff") format("woff");
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: "Pacifico";
  font-display: swap;
  src: url("../fonts/Pacifico-Regular.woff2") format("woff2"), url("../fonts/Pacifico-Regular.woff") format("woff");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "HatDisplay";
  font-display: swap;
  src: url("../fonts/RedHatDisplay-Bold.woff2") format("woff2"), url("../fonts/RedHatDisplay-Bold.woff") format("woff");
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: "HatDisplay";
  font-display: swap;
  src: url("../fonts/RedHatDisplay-Black.woff2") format("woff2"), url("../fonts/RedHatDisplay-Black.woff") format("woff");
  font-weight: 900;
  font-style: normal;
}

@font-face {
  font-family: "Rubik";
  font-display: swap;
  src: url("../fonts/Rubik-Medium.woff2") format("woff2"), url("../fonts/Rubik-Medium.woff") format("woff");
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: "Rubik";
  font-display: swap;
  src: url("../fonts/Rubik-SemiBold.woff2") format("woff2"), url("../fonts/Rubik-SemiBold.woff") format("woff");
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: "Rubik";
  font-display: swap;
  src: url("../fonts/Rubik-Bold.woff2") format("woff2"), url("../fonts/Rubik-Bold.woff") format("woff");
  font-weight: 700;
  font-style: normal;
}

* {
  padding: 0;
  margin: 0;
  border: 0;
}

*,
*::after,
*::before {
  box-sizing: border-box;
}

html,
body {
  height: 100%;
  min-width: 320px;
}

body {
  font-family: "Outfit";
  font-size: 1rem;
  color: var(--mainColor);
  line-height: 1;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

button,
input,
textarea {
  font-family: "Outfit";
  font-size: inherit;
  line-height: inherit;
}

button {
  background-color: transparent;
  color: inherit;
  font-weight: inherit;
  cursor: pointer;
}

a {
  color: inherit;
  text-decoration: none;
}

img {
  vertical-align: top;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

ul li {
  list-style: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: inherit;
  font-size: inherit;
}

html {
  font-family: "Rubik";
  -webkit-tap-highlight-color: transparent;
}

body ::-moz-selection {
  background-color: var(--creamyColor);
  color: var(--textColor);
}

body ::selection {
  background-color: var(--creamyColor);
  color: var(--textColor);
}

.lock body {
  overflow: hidden;
}

.wrapper {
  min-height: 100%;
  display: flex;
  flex-direction: column;
  overflow: clip;
}

.wrapper > main {
  flex: 1 1 auto;
}

[class*=__container] {
  max-width: 85.875rem;
  margin-inline: auto;
  padding-inline: 2rem;
}

.page {
  padding-top: 6.25rem;
}

.btn {
  min-height: 2.5rem;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.5rem;
  font-weight: 500;
  font-size: clamp(1rem, 0.9240986717rem  +  0.3795066414vw, 1.25rem);
  padding-inline: clamp(0.625rem, 0.340370019rem  +  1.4231499051vw, 1.5625rem);
  border-radius: 0.25rem;
  transition: background-color 0.2s linear, color 0.2s linear;
}

.btn span {
  flex: 0 0 1.125rem;
  width: 1.125rem;
  aspect-ratio: 1;
}

.btn svg {
  width: 100%;
  height: 100%;
  fill: currentColor;
  stroke: currentColor;
}

.btn_fill {
  background-color: var(--orangeColor);
  color: var(--lightColor);
}

.btn_border {
  background-color: transparent;
  border: 0.125rem solid var(--orangeColor);
  color: var(--orangeColor);
}

.visually-hidden {
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  height: 1px;
  overflow: hidden;
  position: absolute;
  white-space: nowrap;
  width: 1px;
}

input[type=search]::-webkit-search-decoration,
input[type=search]::-webkit-search-cancel-button,
input[type=search]::-webkit-search-results-button,
input[type=search]::-webkit-search-results-decoration {
  -webkit-appearance: none;
}

._title {
  font-size: clamp(1.875rem, 1.4954933586rem  +  1.8975332068vw, 3.125rem);
  font-weight: 600;
  line-height: 113%;
  letter-spacing: -0.02em;
  font-family: "Rubik";
}

._descr {
  line-height: 167%;
  color: var(--textColor);
}

.header {
  position: absolute;
  width: 100%;
  top: 0;
  left: 0;
  height: 2.5rem;
}

.header__wrapper {
  position: fixed;
  width: 100%;
  top: 0;
  left: 0;
  z-index: 20;
  transition: background-color 0.3s linear;
}

.header__wrapper::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 3.75rem;
  top: 0;
  left: 0;
  -webkit-backdrop-filter: blur(0.3125rem);
          backdrop-filter: blur(0.3125rem);
  z-index: -1;
}

._header-scroll .header__wrapper {
  background-color: rgba(255, 255, 255, 0.7);
}

.header__body {
  display: flex;
  align-items: center;
  gap: 2rem;
  min-height: 6.25rem;
  padding-block: 0.625rem;
  transition: min-height 0.3s linear;
}

._header-scroll .header__body {
  min-height: 3.125rem;
}

.header__logo {
  font-size: clamp(1.75rem, 1.6740986717rem  +  0.3795066414vw, 2rem);
  font-weight: 700;
  font-family: "Rubik";
  color: var(--orangeColor);
}

.menu__list {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  -moz-column-gap: clamp(0.75rem, 0.5222960152rem  +  1.1385199241vw, 1.5rem);
       column-gap: clamp(0.75rem, 0.5222960152rem  +  1.1385199241vw, 1.5rem);
  row-gap: 0.3125rem;
}

.menu__link {
  display: flex;
  align-items: center;
  gap: 0.4375rem;
  transition: color 0.2s linear;
}

.menu__link:focus-visible {
  outline: 0.125rem solid var(--orangeColor);
  outline-offset: 0.125rem;
  color: var(--orangeColor);
}

.actions-header__body {
  display: flex;
  align-items: center;
  gap: 2.5rem;
}

.actions-header__items {
  position: relative;
}

.actions-header__row {
  display: flex;
  align-items: center;
  gap: clamp(0.625rem, 0.4352466793rem  +  0.9487666034vw, 1.25rem);
}

.actions-header__item {
  position: relative;
}

.actions-header__item._show-dropdown .actions-header__wrapper-menu {
  opacity: 1;
  visibility: visible;
  pointer-events: auto;
  translate: 0 0;
}

.actions-header__item._show-dropdown .actions-header__current-icon {
  rotate: 180deg;
}

.actions-header__current {
  font-size: clamp(1rem, 0.9430740038rem  +  0.284629981vw, 1.1875rem);
  display: flex;
  align-items: center;
  gap: 0.25rem;
}

.actions-header__current span:first-child {
  display: flex;
}

.actions-header__current span:nth-child(2) {
  display: none;
}

.actions-header__current svg {
  fill: var(--orangeColor);
}

.actions-header__current-icon {
  flex: 0 0 0.625rem;
  width: 0.625rem;
  aspect-ratio: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: rotate 0.2s linear;
}

.actions-header__wrapper-menu {
  transition: all 0.3s linear;
}

.actions-header__button svg {
  fill: transparent;
}

.icon-menu_close {
  z-index: 5;
}

.icon-menu_close span,
.icon-menu_close::before,
.icon-menu_close::after {
  position: absolute;
  width: 1.25rem;
  height: 0.1875rem;
  border-radius: 0.3125rem;
}

.menu-open .icon-menu_close span,
.menu-open .icon-menu_close::before,
.menu-open .icon-menu_close::after {
  background-color: var(--lightColor);
}

.menu-open .icon-menu_close::before {
  top: calc(50% - 0.0625rem);
  rotate: 45deg;
}

.menu-open .icon-menu_close::after {
  bottom: calc(50% - 0.125rem);
  rotate: -45deg;
}

.menu-open .icon-menu_close span {
  scale: 0;
}

.footer__body {
  background-color: var(--orangeColor);
  padding: 2rem;
  border-radius: 1.5rem 1.5rem 0 0;
  color: var(--lightColor);
  display: flex;
  flex-direction: column;
  gap: 2.6875rem;
}

.footer__top {
  display: flex;
  align-items: center;
  gap: 1.5rem;
  border-bottom: 0.125rem solid var(--creamyColor);
  padding-bottom: 2.6875rem;
}

.footer__logo {
  font-size: clamp(2.75rem, 2.5222960152rem  +  1.1385199241vw, 3.5rem);
  font-family: "Rubik";
  color: var(--creamyColor);
  text-transform: uppercase;
  font-weight: 700;
  letter-spacing: -0.02em;
}

.footer__menu {
  flex: 1 1 auto;
}

.footer__info {
  font-size: 1.25rem;
  line-height: 150%;
  color: var(--creamyColor);
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.footer__link {
  transition: color 0.2s linear;
}

.footer__link:focus-visible {
  outline: 0.125rem solid var(--creamyColor);
  outline-offset: 0.125rem;
  color: var(--lightColor);
}

.footer__copy {
  line-height: 150%;
  display: flex;
  align-items: center;
  gap: 0.125rem;
  font-size: clamp(1.125rem, 1.0870493359rem  +  0.1897533207vw, 1.25rem);
}

.menu-footer__list {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(9.375rem, auto));
  gap: clamp(1.875rem, 1.2108633776rem  +  3.320683112vw, 4.0625rem);
}

.item-menu-footer {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.item-menu-footer__title {
  font-size: 1.125rem;
  line-height: 150%;
  text-transform: uppercase;
}

.item-menu-footer__body {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.item-menu-footer__link {
  font-size: 1.25rem;
  line-height: 150%;
  color: var(--creamyColor);
  transition: color 0.2s linear;
}

.item-menu-footer__link:focus-visible {
  outline: 0.125rem solid var(--creamyColor);
  outline-offset: 0.125rem;
  color: var(--lightColor);
}

.item-menu-footer__socials {
  display: flex;
  align-items: center;
  gap: 0.625rem;
}

.item-menu-footer__social {
  flex: 0 0 1.5rem;
  width: 1.5rem;
  aspect-ratio: 1;
  display: flex;
  justify-content: center;
  align-items: center;
}

.item-menu-footer__social svg {
  stroke: var(--creamyColor);
  transition: stroke 0.2s linear;
}

.item-menu-footer__social:focus-visible {
  outline: 0.125rem solid var(--creamyColor);
  outline-offset: 0.125rem;
}

.item-menu-footer__social:focus-visible svg {
  stroke: var(--lightColor);
}

.drop-menu {
  box-shadow: 0 0 0 0 rgba(0, 0, 0, 0.1), 0 4px 8px 0 rgba(0, 0, 0, 0.1), 0 15px 15px 0 rgba(0, 0, 0, 0.09), 0 33px 20px 0 rgba(0, 0, 0, 0.05), 0 59px 23px 0 rgba(0, 0, 0, 0.01), 0 92px 26px 0 rgba(0, 0, 0, 0);
  background: var(--lightColor);
  padding: 1rem;
  border: 0.0625rem solid var(--creamyColor);
  border-radius: 0.375rem;
  transition: opacity 0.3s linear;
}

.drop-menu__title {
  font-weight: 700;
  color: var(--mainColor);
}

.drop-menu__title:not(:last-child) {
  margin-bottom: 0.9444444444em;
}

.drop-menu__body {
  display: flex;
  flex-direction: column;
  gap: 0.3125rem;
}

.drop-menu__item {
  min-height: 2.25rem;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  gap: 0.625rem;
  padding-inline: 0.75rem;
  transition: background-color 0.15s linear;
  color: var(--textColor);
}

.drop-menu__item_selected {
  background-color: var(--creamyColor);
  font-weight: 500;
}

.drop-menu__item:not(:last-child) {
  border-bottom: 0.0625rem solid var(--creamyColor);
}

.drop-menu__item:focus-visible {
  outline: 0.125rem solid var(--orangeColor);
  outline-offset: 0.125rem;
  background-color: #ffebd7;
}

.top-block__body {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 0.625rem;
}

.top-block__body_center {
  justify-content: center;
  text-align: center;
}

.top-block__content {
  display: flex;
  align-items: flex-start;
  gap: 1.25rem;
}

.top-block__icon {
  flex: 0 0 2.8125rem;
  width: 2.8125rem;
  height: 2.1875rem;
}

.top-block__icon img {
  -o-object-fit: contain;
     object-fit: contain;
}

.top-block__inner {
  display: flex;
  flex-direction: column;
  gap: 0.4375rem;
}

.form-search__button {
  flex: 0 0 1.375rem;
  width: 1.375rem;
  aspect-ratio: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: background-color 0.3s linear;
}

.form-search__button svg {
  stroke: var(--orangeColor);
}

.form-search__button:focus-visible {
  outline: 0.125rem solid var(--mainColor);
  outline-offset: 0.125rem;
  background-color: var(--creamyColor);
}

.form-search__input {
  background-color: transparent;
  font-weight: 500;
  color: var(--mainColor);
}

.form-search__input::-moz-placeholder {
  opacity: 1;
  -moz-transition: opacity 0.3s linear;
  transition: opacity 0.3s linear;
  color: var(--mainColor);
}

.form-search__input::placeholder {
  opacity: 1;
  transition: opacity 0.3s linear;
  color: var(--mainColor);
}

.form-search__input._form-focus {
  outline: none;
}

.form-search__input._form-focus::-moz-placeholder {
  opacity: 0;
}

.form-search__input._form-focus::placeholder {
  opacity: 0;
}

.hero {
  padding-bottom: clamp(4.375rem, 2.3825901328rem  +  9.9620493359vw, 10.9375rem);
}

.hero__body {
  display: flex;
  align-items: center;
  gap: 1.125rem;
}

.hero__picture {
  position: relative;
}

.hero__image {
  aspect-ratio: 518/405;
}

.content-hero {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
}

.content-hero__title {
  font-size: clamp(2rem, 1.44971537rem  +  2.7514231499vw, 3.8125rem);
  line-height: 113%;
  font-weight: 700;
  letter-spacing: -4%;
}

.content-hero__title span {
  font-size: clamp(2rem, 1.7722960152rem  +  1.1385199241vw, 2.75rem);
  font-family: "Pacifico";
  color: var(--orangeColor);
}

.content-hero__descr {
  max-width: 33.125rem;
  line-height: 160%;
}

.content-hero__descr > p:not(:last-child) {
  margin-bottom: 0.625rem;
}

.content-hero__more-video {
  display: flex;
  align-items: center;
  gap: 0.625rem;
  font-weight: 500;
  transition: color 0.2s linear;
}

.content-hero__more-video svg {
  stroke: var(--orangeColor);
  transition: stroke 0.2s linear;
}

.content-hero__more-video:focus-visible {
  outline: 0.125rem solid var(--orangeColor);
  outline-offset: 0.125rem;
  color: var(--orangeColor);
}

.content-hero__more-video:focus-visible svg {
  stroke: var(--mainColor);
}

.content-hero__buttons {
  display: grid;
  grid-template-columns: repeat(2, auto);
  gap: 1.25rem;
}

.picture-review__header {
  display: flex;
  align-items: center;
  gap: 1.5625rem;
}

.picture-review__avatar {
  flex: 0 0 4.0625rem;
  width: 4.0625rem;
  aspect-ratio: 1;
  border-radius: 50%;
  overflow: hidden;
}

.picture-review__user {
  display: flex;
  flex-direction: column;
  gap: 0.125rem;
}

.picture-review__name {
  font-size: clamp(1rem, 0.9620493359rem  +  0.1897533207vw, 1.125rem);
  font-weight: 500;
  font-family: "Rubik";
}

.picture-review__rating {
  font-weight: 600;
  display: flex;
  align-items: center;
  gap: 0.3125rem;
}

.picture-review__rating span {
  flex: 0 0 1rem;
  width: 1rem;
  aspect-ratio: 1;
  display: flex;
  justify-content: center;
  align-items: center;
}

.picture-review__text {
  font-size: 0.875rem;
  line-height: 160%;
  color: var(--textColor);
}

.stat {
  padding-bottom: clamp(7.375rem, 6.1605787476rem  +  6.0721062619vw, 11.375rem);
}

.stat__body {
  max-width: 67.8125rem;
  margin-inline: auto;
}

.stat__list {
  background-color: #fffdf4;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(12.5rem, 1fr));
  gap: 1.875rem;
  padding-inline: 1.4375rem;
  padding-block: 0.84375rem;
  border-radius: 1rem;
  border: 0.0625rem solid var(--orangeColor);
  min-height: 8.9375rem;
}

.stat__item {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 0.625rem;
  text-align: center;
}

.stat__value {
  font-size: 2.5rem;
  font-weight: 700;
  color: var(--orangeColor);
  font-family: "Rubik";
  letter-spacing: -0.02em;
  display: flex;
  align-items: center;
  gap: 0.3125rem;
}

.stat__value svg {
  fill: currentColor;
  stroke: currentColor;
}

.stat__label {
  line-height: 150%;
  color: var(--textColor);
}

.learn {
  padding-bottom: clamp(7.1875rem, 6.5233633776rem  +  3.320683112vw, 9.375rem);
}

.learn__top:not(:last-child) {
  margin-bottom: clamp(2.5rem, 1.930740038rem  +  2.8462998102vw, 4.375rem);
}

.learn__body {
  display: flex;
  flex-direction: column;
  gap: 2.1875rem;
}

.learn__list {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(21.875rem, 1fr));
  gap: 1.5rem;
}

.learn__more {
  align-self: end;
  display: flex;
  align-items: center;
  gap: 0.8125rem;
  transition: color 0.2s linear;
}

.learn__more svg {
  stroke: var(--orangeColor);
  transition: stroke 0.2s linear, rotate 0.2s linear;
}

.learn__more:focus-visible {
  outline: 0.125rem solid var(--orangeColor);
  outline-offset: 0.125rem;
  color: var(--orangeColor);
}

.learn__more:focus-visible svg {
  rotate: 90deg;
  stroke: var(--mainColor);
}

.item-learn {
  height: 100%;
  display: flex;
  align-items: center;
  gap: clamp(0.9375rem, 0.6908206831rem  +  1.2333965844vw, 1.75rem);
  font-size: 0.875rem;
  padding-inline: clamp(1.5rem, 1.3102466793rem  +  0.9487666034vw, 2.125rem);
  padding-block: clamp(0.9375rem, 0.7667220114rem  +  0.8538899431vw, 1.5rem);
  border-radius: 1rem;
  background-color: var(--lightColor);
  border: 0.0625rem solid var(--orangeColor);
  transition: background-color 0.3s linear;
}

.item-learn:focus-visible:not(.item-learn_burning) {
  outline: 0.125rem solid var(--orangeColor);
  outline-offset: 0.125rem;
  background-color: #fffdf4;
}

.item-learn_burning {
  background-color: var(--orangeColor);
  color: var(--lightColor);
}

.item-learn_burning:focus-visible {
  outline: 0.125rem solid var(--textColor);
  outline-offset: 0.125rem;
  background-color: #c0630c;
}

.item-learn__body {
  flex: 1 1 auto;
  display: flex;
  flex-direction: column;
  gap: 0.25rem;
}

.item-learn__header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 0.625rem;
}

.item-learn__title {
  font-size: clamp(1.25rem, 1.1740986717rem  +  0.3795066414vw, 1.5rem);
  font-weight: 700;
  font-family: "Rubik";
}

.item-learn__header-icon {
  flex: 0 0 1.5rem;
  width: 1.5rem;
  aspect-ratio: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: rotate 0.2s linear;
}

.item-learn__header-icon img {
  -o-object-fit: contain;
     object-fit: contain;
}

.item-learn__header-icon svg {
  stroke: var(--orangeColor);
}

.item-learn__descr {
  line-height: 150%;
  font-size: 0.875rem;
}

.item-learn__descr > p:not(:last-child) {
  margin-bottom: 0.3125rem;
}

.benefits {
  padding-bottom: clamp(9.375rem, 7.3825901328rem  +  9.9620493359vw, 15.9375rem);
}

.benefits__top:not(:last-child) {
  margin-bottom: clamp(2.5rem, 1.7409867173rem  +  3.7950664137vw, 5rem);
}

.benefits__list {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(18.125rem, 1fr));
  gap: clamp(2.8125rem, 1.4652514231rem  +  6.7362428843vw, 7.25rem);
}

.benefits__item {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1.875rem;
  position: relative;
}

.benefits__icon {
  flex: 0 0 6.25rem;
  height: 6.25rem;
  aspect-ratio: 1;
  border-radius: 50%;
  background-color: var(--orangeColor);
  display: flex;
  justify-content: center;
  align-items: center;
}

.benefits__icon img {
  -o-object-fit: contain;
     object-fit: contain;
  width: 50%;
  aspect-ratio: 1;
}

.benefits__inner {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  gap: 1.875rem;
}

.benefits__title {
  flex: 1 1 auto;
  font-size: clamp(1.625rem, 1.5111480076rem  +  0.569259962vw, 2rem);
  font-weight: 700;
  font-family: "Rubik";
}

.benefits__descr {
  font-size: 1.125rem;
  line-height: 160%;
  color: var(--textColor);
}

.advantages {
  padding-bottom: clamp(7.1875rem, 5.5745967742rem  +  8.064516129vw, 12.5rem);
}

.advantages__body {
  display: flex;
  align-items: flex-start;
  gap: 7.5625rem;
}

.advantages__picture {
  position: relative;
}

.advantages__picture img {
  aspect-ratio: 535/420;
}

.advantages__content {
  display: flex;
  flex-direction: column;
  gap: 1.875rem;
}

.advantages__title {
  font-size: clamp(1.75rem, 1.6740986717rem  +  0.3795066414vw, 2rem);
  font-weight: 700;
  font-family: "Rubik";
  letter-spacing: 0.02em;
}

.advantages__list {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
}

.picture-advantages__descr-block {
  position: absolute;
  background-color: var(--orangeColor);
  max-width: 17.8125rem;
  padding: 1.5rem;
  border-radius: 1rem;
  color: var(--lightColor);
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.picture-advantages__top {
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

.picture-advantages__title {
  font-size: 1.5rem;
  font-weight: 700;
  font-family: "Rubik";
}

.picture-advantages__icon {
  flex: 0 0 0.9375rem;
  width: 0.9375rem;
  aspect-ratio: 1;
}

.picture-advantages__icon img {
  -o-object-fit: contain;
     object-fit: contain;
}

.picture-advantages__text {
  font-size: 0.875rem;
  line-height: 160%;
  text-align: right;
}

.picture-advantages__text > p:not(:last-child) {
  margin-bottom: 0.3125rem;
}

.item-advantages {
  padding: 1rem;
  border: 0.0625rem solid var(--orangeColor);
  border-radius: 1rem;
  background-color: var(--lightColor);
  display: flex;
  align-items: flex-start;
  gap: 1rem;
}

.item-advantages__icon {
  flex: 0 0 2rem;
  width: 2rem;
  aspect-ratio: 1;
}

.item-advantages__icon img {
  -o-object-fit: contain;
     object-fit: contain;
}

.item-advantages__body {
  display: flex;
  flex-direction: column;
  gap: 0.625rem;
}

.item-advantages__title {
  font-size: clamp(1.25rem, 1.1740986717rem  +  0.3795066414vw, 1.5rem);
  font-weight: 700;
  font-family: "Rubik";
  letter-spacing: -0.02em;
}

.item-advantages__descr {
  line-height: 160%;
  color: var(--textColor);
}

.item-advantages__descr > p:not(:last-child) {
  margin-bottom: 0.3125rem;
}

.works {
  padding-bottom: clamp(10.625rem, 11.5737666034rem  +  -4.7438330171vw, 7.5rem);
  padding-bottom: clamp(7.5rem, 11.5737666034rem  +  -4.7438330171vw, 10.625rem);
}

.works__top:not(:last-child) {
  margin-bottom: clamp(2.5rem, 1.5512333966rem  +  4.7438330171vw, 5.625rem);
}

.works__body {
  display: flex;
  flex-direction: column;
  gap: 7.5rem;
}

.works__list {
  display: flex;
  flex-direction: column;
  gap: clamp(5rem, 4.6204933586rem  +  1.8975332068vw, 6.25rem);
  counter-reset: counter;
}

.item-works {
  display: flex;
  align-items: center;
}

.item-works:last-child .item-works__picture img {
  aspect-ratio: 570/340;
}

.item-works__picture {
  position: relative;
}

.item-works__picture img {
  aspect-ratio: 570/380;
  border-radius: 2rem;
  -o-object-position: top;
     object-position: top;
}

.item-works__count {
  position: absolute;
  top: 0;
  left: -1.5rem;
  width: 6.5625rem;
  aspect-ratio: 1;
  border-radius: 1rem;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--orangeColor);
}

.item-works__count::before {
  content: counter(counter);
  counter-increment: counter;
  font-size: clamp(3.5rem, 3.3481973435rem  +  0.7590132827vw, 4rem);
  font-weight: 900;
  font-family: "HatDisplay";
  color: var(--lightColor);
}

.item-works__body {
  flex: 0 0 45.0381679389%;
  display: flex;
  flex-direction: column;
  gap: 1.875rem;
  padding-block: 1.25rem;
}

.item-works__title {
  font-size: clamp(1.75rem, 1.5981973435rem  +  0.7590132827vw, 2.25rem);
  font-weight: 600;
  font-family: "Rubik";
}

.item-works__descr {
  font-size: 1.125rem;
  line-height: 160%;
  color: var(--textColor);
}

.item-works__descr > p:not(:last-child) {
  margin-bottom: 0.625rem;
}

.item-works__link {
  align-self: start;
}

.garante-works {
  align-self: center;
  max-width: 32.5rem;
  background-color: #fffdf4;
  padding-inline: 1.5625rem;
  padding-block: 2.5rem;
  border-radius: 1rem;
  border: 0.0625rem solid var(--orangeColor);
}

.garante-works__body {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  gap: clamp(1.5625rem, 1.4296726755rem  +  0.6641366224vw, 2rem);
}

.garante-works__icon {
  --marginOffsetTop: -85px;
  position: relative;
  flex: 0 0 6.25rem;
  width: 6.25rem;
  aspect-ratio: 1;
  border-radius: 50%;
  background-color: var(--orangeColor);
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: var(--marginOffsetTop);
}

.garante-works__icon img {
  width: 50%;
  aspect-ratio: 1;
  -o-object-fit: contain;
     object-fit: contain;
}

.garante-works__decors {
  position: absolute;
}

.garante-works__decor {
  position: absolute;
}

.garante-works__decor svg {
  stroke: var(--orangeColor);
}

.garante-works__decor_big {
  width: 2.1875rem;
  height: 0.625rem;
  top: -10%;
  right: -10%;
}

.garante-works__decor_small {
  width: 0.9375rem;
  height: 0.625rem;
  top: -15%;
  right: -11%;
}

.garante-works__inner {
  display: flex;
  flex-direction: column;
  gap: 1.25rem;
}

.garante-works__title {
  font-size: clamp(1.75rem, 1.6740986717rem  +  0.3795066414vw, 2rem);
  font-weight: 700;
  font-family: "Rubik";
  letter-spacing: 0.02em;
}

.garante-works__descr {
  font-size: 1.125rem;
  line-height: 160%;
  color: var(--textColor);
}

.garante-works__descr > p:not(:last-child) {
  margin-bottom: 0.625rem;
}

.become {
  padding-bottom: clamp(4.375rem, 3.0467267552rem  +  6.6413662239vw, 8.75rem);
}

.become__body {
  display: flex;
  flex-direction: column;
  gap: clamp(4.375rem, 3.0467267552rem  +  6.6413662239vw, 8.75rem);
}

.become__items {
  display: flex;
  align-items: center;
}

.become__items_student {
  flex-direction: row-reverse;
  align-items: stretch;
  gap: 0;
  border-radius: 1.5rem;
  overflow: hidden;
  background-color: var(--orangeColor);
  color: var(--lightColor);
}

.become__items_student .become__content {
  flex: 1 1 auto;
}

.become__items_student .become__descr {
  color: var(--lightColor);
}

.become__items_student .become__link {
  border-color: var(--creamyColor);
  color: var(--creamyColor);
}

.become__items_student .become__picture img {
  border-radius: 0rem;
}

.become__content {
  flex: 0 0 49.3893129771%;
  display: flex;
  flex-direction: column;
  gap: 0.9375rem;
}

.become__descr {
  font-size: 1.125rem;
  line-height: 160%;
  color: var(--textColor);
}

.become__list {
  display: flex;
  flex-direction: column;
  gap: 0.625rem;
}

.become__item {
  display: flex;
  align-items: flex-start;
  gap: 0.625rem;
  font-size: 1.125rem;
  line-height: 160%;
}

.become__item span {
  font-weight: 700;
}

.become__icon {
  flex: 0 0 1.375rem;
  width: 1.375rem;
  aspect-ratio: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  translate: 0 0.3125rem;
}

.become__icon img {
  -o-object-fit: contain;
     object-fit: contain;
}

.become__link {
  align-self: start;
}

.become__info {
  align-self: start;
  display: flex;
  align-items: center;
  gap: 0.8125rem;
  font-weight: 500;
  font-size: 0.875rem;
  line-height: 160%;
  transition: color 0.2s linear;
}

.become__info span {
  flex: 0 0 1.25rem;
  width: 1.25rem;
  aspect-ratio: 1;
  display: flex;
  justify-content: center;
  align-items: center;
}

.become__info svg {
  stroke: var(--orangeColor);
  transition: stroke 0.2s linear;
}

.become__info:focus-visible {
  outline: 0.125rem solid var(--orangeColor);
  outline-offset: 0.125rem;
  color: var(--orangeColor);
}

.become__info:focus-visible svg {
  stroke: var(--mainColor);
}

.become__picture img {
  aspect-ratio: 550/430;
}

.last-block {
  padding-bottom: 8.125rem;
}

.last-block__body {
  display: flex;
}

.last-block__items {
  position: relative;
}

.last-block__items:first-child {
  flex: 0 0 39.3129770992%;
}

.last-block__items:last-child {
  flex: 1 1 auto;
}

.last-block__items::before {
  content: "";
  position: absolute;
  width: 0.0625rem;
  height: 9.375rem;
  background-color: var(--orangeColor);
  top: 50%;
}

.last-block__items:nth-child(2n+2)::before {
  background-color: transparent;
}

.last-block__top {
  display: flex;
  align-items: center;
  gap: 0.8125rem;
}

.last-block__top:not(:last-child) {
  margin-bottom: clamp(1.875rem, 1.6852466793rem  +  0.9487666034vw, 2.5rem);
}

.last-block__icon {
  flex: 0 0 1.875rem;
  width: 1.875rem;
  aspect-ratio: 1;
  display: flex;
  justify-content: center;
  align-items: center;
}

.last-block__icon img {
  -o-object-fit: contain;
     object-fit: contain;
}

.last-block__title {
  font-size: clamp(2.25rem, 2.1740986717rem  +  0.3795066414vw, 2.5rem);
  font-weight: 700;
  font-family: "Rubik";
  letter-spacing: 0.02em;
}

.last-block__wrapper {
  display: flex;
  flex-direction: column;
  gap: clamp(1.875rem, 1.0211100569rem  +  4.2694497154vw, 4.6875rem);
}

.last-block__inner {
  display: flex;
  flex-direction: column;
  gap: 1.625rem;
}

.last-block__title-tags {
  font-size: 1.5rem;
  font-weight: 600;
  line-height: 150%;
}

.last-block__tags {
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
}

.last-block__tag {
  min-height: 2.375rem;
  display: flex;
  justify-content: center;
  align-items: center;
  padding-inline: 1.5rem;
  border-radius: 3.125rem;
  background-color: #fffdf4;
  border: 0.0625rem solid var(--orangeColor);
  font-size: 1.25rem;
  font-family: "Kanit";
  color: var(--orangeColor);
}

.blogs__list {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(15rem, 1fr));
  -moz-column-gap: 1.5rem;
       column-gap: 1.5rem;
  row-gap: 2.1875rem;
}

.article-blog {
  height: 100%;
  border-radius: 1.25rem;
  border: 0.0625rem solid var(--orangeColor);
  overflow: hidden;
  display: flex;
  flex-direction: column;
}

.article-blog__image {
  overflow: hidden;
}

.article-blog__image img {
  aspect-ratio: 305/213;
  transition: scale 0.5s linear;
}

.article-blog__body {
  padding-inline: 1.5625rem;
  padding-block: 1.25rem;
  display: flex;
  flex-direction: column;
  gap: 0.5625rem;
}

.article-blog__dates {
  display: flex;
  align-items: center;
  gap: 0.625rem;
}

.article-blog__dates span {
  flex: 0 0 1.5rem;
  width: 1.5rem;
  aspect-ratio: 1;
}

.article-blog__dates svg {
  stroke: var(--orangeColor);
}

.article-blog__date {
  font-size: 1.125rem;
  color: var(--textColor);
}

.article-blog__title-link {
  font-size: 1.25rem;
  line-height: 134%;
  font-weight: 600;
  transition: color 0.2s linear;
}

.article-blog__title-link:focus-visible {
  outline: 0.125rem solid var(--orangeColor);
  outline-offset: 0.125rem;
  color: var(--orangeColor);
}

@media (min-width: 30.62375em) {
  .actions-header__items:not(:last-child)::before {
    content: "";
    position: absolute;
    width: 0.125rem;
    height: 0.9375rem;
    background-color: var(--creamyColor);
    top: 50%;
    translate: 0 -50%;
    right: -1.25rem;
  }

  .actions-header__wrapper-menu {
    position: absolute;
    top: 100%;
    padding-top: 1.25rem;
    opacity: 0;
    visibility: hidden;
    pointer-events: none;
    translate: 0 1.25rem;
  }

  .drop-menu {
    min-width: 15.9375rem;
  }

  .hero__image {
    border-radius: 2rem;
  }

  .content-hero__more-video-text span:first-child {
    display: block;
  }

  .content-hero__more-video-text span:last-child {
    display: none;
  }

  .advantages__picture img {
    border-radius: 2rem;
  }

  .become__picture img {
    border-radius: 2rem;
  }
}

@media (min-width: 48.06125em) {
  .actions-header__wrapper-menu {
    left: 0;
  }
}

@media (min-width: 61.99875em) {
  .header__wrapper::before {
    height: 4.375rem;
  }

  .header__wrapper {
    border-bottom: 0.0625rem solid var(--creamyColor);
  }

  ._header-scroll .header__body {
    min-height: 4.375rem;
  }

  .header__menu {
    flex: 1 1 auto;
    display: flex;
    align-items: center;
  }

  .icon-menu {
    display: none;
  }

  .footer__main {
    padding-left: 3.75rem;
    flex: 0 1 21.875rem;
  }

  .footer__bottom {
    display: grid;
    grid-template-columns: auto 1fr auto;
    align-content: end;
    align-items: end;
    padding-left: 3.125rem;
  }

  .footer__copy span:first-child {
    display: flex;
  }

  .footer__copy span:last-child {
    display: none;
  }

  .form-search {
    display: flex;
    align-items: center;
    gap: 0.625rem;
    border: 0.0625rem solid transparent;
    transition: border-color 0.2s linear;
    padding: 0.1875rem;
    border-radius: 0.3125rem;
  }

  .form-search._form-focus {
    border-color: var(--orangeColor);
  }

  .hero__body {
    padding-top: clamp(1.875rem, 1.1159867173rem  +  3.7950664137vw, 4.375rem);
  }

  .hero__content {
    flex: 0 0 53.5877862595%;
  }

  .hero__picture {
    flex: 0 0 39.5419847328%;
  }

  .hero__picture-review {
    display: none;
  }

  .hero__picture-decor {
    display: none;
  }

  .content-hero__more-video {
    align-self: start;
  }

  .content-hero__buttons {
    align-self: start;
  }

  .benefits__item::before {
    content: "";
    position: absolute;
    width: 0.0625rem;
    height: 2.625rem;
    background-color: var(--orangeColor);
    top: 50%;
    right: -16.1111111111%;
    translate: 0 -50%;
  }

  .benefits__item:nth-child(3n+3)::before {
    content: "";
    position: absolute;
    width: 0.0625rem;
    height: 2.625rem;
    background-color: transparent;
    top: 50%;
    right: -16.1111111111%;
    translate: 0 -50%;
  }

  .advantages__picture {
    flex: 0 0 40.8396946565%;
  }

  .item-works:nth-child(even) {
    flex-direction: row-reverse;
  }

  .item-works__picture {
    flex: 0 0 45.0381679389%;
  }

  .become__picture {
    flex: 0 0 41.9847328244%;
  }

  .last-block__inner:last-child {
    max-width: 20.9375rem;
  }
}

@media (min-width: 85.875em) {
  .footer__bottom {
    gap: 7.5rem;
  }

  .advantages__body {
    -moz-column-gap: 7.5rem;
         column-gap: 7.5rem;
  }

  .item-works {
    gap: 8.125rem;
  }

  .become__items {
    gap: 6.875rem;
  }

  .become__items_student .become__content {
    padding-block: 6.25rem;
  }

  .become__items_student .become__content {
    padding-right: 5.3125rem;
  }

  .become__items_student {
    gap: 6.5625rem;
  }

  .last-block__body {
    gap: 10.3125rem;
  }

  .last-block__items::before {
    right: -5.625rem;
  }
}

@media (min-width: 90.625em) {
  .picture-advantages__descr-block {
    bottom: -2.375rem;
  }
}

@media (min-width: 103.125em) {
  .picture-advantages__descr-block {
    left: -5.125rem;
  }
}

@media (max-width: 62.5em) {
  .footer__bottom {
    gap: 1.875rem;
  }
}

@media (max-width: 61.99875em) {
  .header__menu {
    position: absolute;
  }

  .header__actions {
    margin-left: auto;
  }

  .menu__inner {
    position: fixed;
    width: 80%;
    height: 100%;
    top: 0;
    right: 0;
    background-color: var(--orangeColor);
    z-index: 2;
    padding: 0 1.25rem 1.875rem 1.25rem;
    display: flex;
    flex-direction: column;
    gap: 1.25rem;
    translate: 100% 0;
    overflow: auto;
    transition: translate 0.3s cubic-bezier(0.445, 0.05, 0.55, 0.95);
  }

  .menu-open .menu__inner {
    translate: 0 0;
  }

  .menu__inner-top {
    position: sticky;
    top: 0;
    left: 0;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 0.625rem;
    min-height: 5rem;
    z-index: 5;
    background-color: var(--orangeColor);
  }

  .menu__list {
    flex-direction: column;
    color: var(--lightColor);
    row-gap: 1.25rem;
  }

  .menu__link {
    font-size: 1.5rem;
  }

  .menu__link span {
    display: none;
  }

  .icon-menu {
    display: block;
    position: relative;
    flex: 0 0 2.5rem;
    width: 2.5rem;
    aspect-ratio: 1;
    background-color: var(--orangeColor);
    border-radius: 0.75rem;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 0.1875rem;
  }

  .icon-menu span,
  .icon-menu::before,
  .icon-menu::after {
    content: "";
    background-color: var(--creamyColor);
    width: 50%;
    height: 0.1875rem;
    border-radius: 0.3125rem;
    transition: all 0.25s linear;
  }

  .footer__body {
    margin-inline: -2rem;
    border-radius: 0;
  }

  .footer__top {
    flex-direction: column;
    align-items: flex-start;
  }

  .footer__bottom {
    display: flex;
    flex-direction: row-reverse;
    flex-wrap: wrap;
  }

  .footer__copy {
    flex: 1 1 100%;
    text-align: center;
    justify-content: center;
  }

  .footer__copy span:first-child {
    display: none;
  }

  .footer__copy span:last-child {
    display: flex;
  }

  .menu-footer:not(.menu-footer_bottom) {
    width: 100%;
  }

  .top-block__form {
    display: none;
  }

  .hero__body {
    flex-direction: column-reverse;
  }

  .hero__content {
    max-width: 43.875rem;
  }

  .hero__picture {
    max-width: 36.5625rem;
  }

  .hero__picture-review {
    position: absolute;
    bottom: -21.7283950617%;
  }

  .hero__image {
    aspect-ratio: 585/385;
  }

  .hero__picture-decor {
    position: absolute;
    bottom: -9.0909090909%;
    right: -3.4188034188%;
    width: 22.735042735%;
    height: 27.012987013%;
  }

  .content-hero {
    text-align: center;
    align-items: center;
  }

  .picture-review {
    display: flex;
    flex-direction: column;
    gap: 1.25rem;
    max-width: 17.8125rem;
    border-radius: 1rem;
    background-color: #fffdf4;
    border-top: 0.0625rem solid var(--creamyColor);
    padding: 1.5rem;
  }

  .benefits__list {
    grid-template-columns: 1fr;
  }

  .advantages__body {
    -moz-column-gap: 3.125rem;
         column-gap: 3.125rem;
  }

  .advantages__body {
    flex-direction: column;
    row-gap: 8.75rem;
  }

  .advantages__picture img {
    aspect-ratio: 585/360;
  }

  .advantages__picture {
    max-width: 36.5625rem;
    align-self: center;
  }

  .picture-advantages__descr-block {
    bottom: -3.75rem;
  }

  .picture-advantages__descr-block {
    left: -2.5rem;
  }

  .item-works {
    gap: 2.5rem;
  }

  .item-works {
    flex-direction: column;
  }

  .item-works:first-child .item-works__picture img {
    aspect-ratio: 550/370;
  }

  .item-works__picture {
    max-width: 34.375rem;
  }

  .item-works__picture img {
    aspect-ratio: 550/330;
  }

  .become__items {
    gap: 2.5rem;
  }

  .become__items:not(.become__items_student) {
    flex-direction: column-reverse;
    align-items: flex-start;
  }

  .become__items_student .become__content {
    padding-block: 3.125rem;
  }

  .become__items_student .become__content {
    padding-right: 1.25rem;
  }

  .become__items_student {
    gap: 2.5rem;
  }

  .become__items_student {
    padding-inline: 2rem;
    margin-inline: -2rem;
    border-radius: 0;
  }

  .become__items_student .become__content {
    width: 100%;
    padding-block: 0.625rem;
    padding-right: 0;
  }

  .become__items_student .become__picture {
    max-width: 17.5rem;
    aspect-ratio: 280/506;
  }

  .become__items_student .become__picture img {
    border-radius: 1.5rem;
  }

  .become__picture img {
    aspect-ratio: 600/450;
  }

  .become__picture {
    align-self: center;
    max-width: 37.5rem;
  }

  .last-block__body {
    gap: 2.5rem;
  }

  .last-block__body {
    flex-direction: column-reverse;
  }

  .last-block__items::before {
    right: -1.875rem;
  }

  .blogs__list {
    grid-template-columns: repeat(auto-fit, minmax(15.625rem, 1fr));
  }
}

@media (max-width: 61.99875em) and (max-width: 20em) {
  .hero__body {
    row-gap: 13.75rem;
  }

  .hero__picture-review {
    bottom: -10rem;
  }

  .hero__picture-review {
    left: 0.0000000625rem;
  }
}

@media (max-width: 61.99875em) and (max-width: 31.18625em) {
  .picture-advantages__descr-block {
    left: -2.5rem;
  }
}

@media (max-width: 61.99875em) and (max-width: 48.06125em) {
  .become__items_student {
    padding-block: 2rem;
  }
}

@media (max-width: 48.06125em) {
  .actions-header__items:last-child {
    display: none;
  }

  .actions-header__wrapper-menu {
    right: 0;
  }

  .actions-header__button {
    z-index: 5;
    border-color: transparent;
    color: var(--lightColor);
  }

  .learn__list {
    grid-template-columns: repeat(auto-fit, minmax(15.625rem, 1fr));
  }

  .become__items_student {
    flex-direction: column-reverse;
    padding-top: 0;
  }

  .become__items_student .become__picture {
    max-width: 34.375rem;
    aspect-ratio: 550/450;
    margin-inline: -2rem;
  }

  .become__items_student .become__picture img {
    border-radius: 0;
  }
}

@media (max-width: 30.62375em) {
  .menu__list {
    align-items: flex-start;
  }

  .actions-header__items {
    display: none;
  }

  .actions-header__row {
    flex-direction: column;
    color: var(--lightColor);
  }

  .actions-header__row {
    align-items: flex-start;
    gap: 1.25rem;
  }

  .actions-header__item._show-dropdown .actions-header__wrapper-menu {
    grid-template-rows: 1fr;
    padding-top: 1.25rem;
  }

  .actions-header__item._show-dropdown .actions-header__wrapper-menu > * {
    overflow: visible;
    opacity: 1;
  }

  .actions-header__item {
    flex: 1 1 auto;
    width: 100%;
  }

  .actions-header__item .actions-header__wrapper-menu {
    display: grid;
    grid-template-rows: 0;
  }

  .actions-header__item .actions-header__wrapper-menu > * {
    overflow: hidden;
    opacity: 0;
  }

  .actions-header__current span:first-child {
    display: none;
  }

  .actions-header__current span:nth-child(2) {
    display: flex;
  }

  .actions-header__current svg {
    fill: var(--creamyColor);
  }

  .actions-header__current {
    font-size: 1.5rem;
  }

  .footer__top {
    align-items: center;
    border: 0;
  }

  .footer__bottom {
    flex-direction: column;
    align-items: center;
    text-align: center;
  }

  .menu-footer_bottom:not(:last-child) {
    margin-bottom: 1.875rem;
  }

  .menu-footer__list {
    grid-template-columns: 1fr;
    justify-content: center;
    justify-items: center;
    text-align: center;
  }

  .drop-menu {
    padding: 0.625rem;
    box-shadow: none;
  }

  .top-block__descr {
    display: none;
  }

  .hero__picture {
    margin-inline: -2rem;
  }

  .hero__picture-review {
    max-width: 100%;
    margin-inline: 1.25rem;
    left: 0;
  }

  .hero__picture-decor {
    display: none;
  }

  .content-hero__more-video-text span:first-child {
    display: none;
  }

  .content-hero__more-video-text span:last-child {
    display: block;
  }

  .content-hero__buttons {
    width: 100%;
    grid-template-columns: 1fr;
  }

  .content-hero__button {
    width: 100%;
  }

  .picture-review {
    max-width: calc(100% - 2.1875rem);
  }

  .advantages__picture img {
    aspect-ratio: 489/390;
  }

  .advantages__picture {
    margin-inline: -2rem;
  }

  .picture-advantages__descr-block {
    max-width: 100%;
    margin-inline: 1.25rem;
    left: 0;
  }

  .item-advantages {
    flex-direction: column;
    box-shadow: 0 0 0 0 rgba(0, 0, 0, 0.03), 2px 2px 5px 0 rgba(0, 0, 0, 0.03), 7px 7px 9px 0 rgba(0, 0, 0, 0.03), 15px 15px 13px 0 rgba(0, 0, 0, 0.02), 27px 27px 15px 0 rgba(0, 0, 0, 0), 42px 42px 16px 0 rgba(0, 0, 0, 0);
  }

  .item-advantages__icon {
    flex: 0 0 3rem;
    width: 3rem;
  }

  .item-works__count {
    display: none;
  }

  .become__link {
    width: 100%;
  }

  .become__picture {
    margin-inline: -2rem;
  }

  .blogs__item:nth-child(3n+3),
  .blogs__item:nth-child(4n+4) {
    display: none;
  }
}

@media (max-width: 21.875em) {
  .item-learn__title {
    font-size: 1.125rem;
  }
}

@media (min-width: 62.5em) and (max-width: 85.875em) {
@supports (gap: clamp( 1.875rem , -13.1651069519rem  +  24.064171123vw , 7.5rem )) {
    .footer__bottom {
      gap: clamp( 1.875rem , -13.1651069519rem  +  24.064171123vw , 7.5rem );
    }
}

@supports not (gap: clamp( 1.875rem , -13.1651069519rem  +  24.064171123vw , 7.5rem )) {
    .footer__bottom {
      gap: calc(1.875rem + 5.625 * (100vw - 62.5rem) / 23.375);
    }
}
}

@media (max-width: 61.99875em) and (min-width: 61.99875em) {
  .hero__body {
    row-gap: 9.0625rem;
  }

  .hero__picture-review {
    bottom: -5.5rem;
  }

  .hero__picture-review {
    left: -3.75rem;
  }

  .picture-advantages__descr-block {
    left: -5.125rem;
  }

  .become__items_student {
    padding-block: 4.0625rem;
  }
}

@media (max-width: 61.99875em) and (min-width: 20em) and (max-width: 61.99875em) {
@supports (row-gap: clamp( 9.0625rem , 15.9822092919rem  +  -11.1610464597vw , 13.75rem )) {
    .hero__body {
      row-gap: clamp( 9.0625rem , 15.9822092919rem  +  -11.1610464597vw , 13.75rem );
    }
}

@supports not (row-gap: clamp( 9.0625rem , 15.9822092919rem  +  -11.1610464597vw , 13.75rem )) {
    .hero__body {
      row-gap: calc(13.75rem + -4.6875 * (100vw - 20rem) / 41.99875);
    }
}

@supports (bottom: clamp( -10rem , -12.1429209203rem  +  10.7146046013vw , -5.5rem )) {
    .hero__picture-review {
      bottom: clamp( -10rem , -12.1429209203rem  +  10.7146046013vw , -5.5rem );
    }
}

@supports not (bottom: clamp( -10rem , -12.1429209203rem  +  10.7146046013vw , -5.5rem )) {
    .hero__picture-review {
      bottom: calc(-10rem + 4.5 * (100vw - 20rem) / 41.99875);
    }
}

@supports (left: clamp( -3.75rem , 1.7857675258rem  +  -8.9288373166vw , 0.0000000625rem )) {
    .hero__picture-review {
      left: clamp( -3.75rem , 1.7857675258rem  +  -8.9288373166vw , 0.0000000625rem );
    }
}

@supports not (left: clamp( -3.75rem , 1.7857675258rem  +  -8.9288373166vw , 0.0000000625rem )) {
    .hero__picture-review {
      left: calc(0.0000000625rem + -3.7500000625 * (100vw - 20rem) / 41.99875);
    }
}
}

@media (min-width: 61.99875em) and (max-width: 85.875em) {
@supports ((-moz-column-gap: clamp( 3.125rem , -8.2354326999rem  +  18.3236479765vw , 7.5rem )) or (column-gap: clamp( 3.125rem , -8.2354326999rem  +  18.3236479765vw , 7.5rem ))) {
    .advantages__body {
      -moz-column-gap: clamp( 3.125rem , -8.2354326999rem  +  18.3236479765vw , 7.5rem );
           column-gap: clamp( 3.125rem , -8.2354326999rem  +  18.3236479765vw , 7.5rem );
    }
}

@supports not ((-moz-column-gap: clamp( 3.125rem , -8.2354326999rem  +  18.3236479765vw , 7.5rem )) or (column-gap: clamp( 3.125rem , -8.2354326999rem  +  18.3236479765vw , 7.5rem ))) {
    .advantages__body {
      -moz-column-gap: calc(3.125rem + 4.375 * (100vw - 61.99875rem) / 23.87625);
           column-gap: calc(3.125rem + 4.375 * (100vw - 61.99875rem) / 23.87625);
    }
}

@supports (gap: clamp( 2.5rem , -12.1062706141rem  +  23.5589759698vw , 8.125rem )) {
    .item-works {
      gap: clamp( 2.5rem , -12.1062706141rem  +  23.5589759698vw , 8.125rem );
    }
}

@supports not (gap: clamp( 2.5rem , -12.1062706141rem  +  23.5589759698vw , 8.125rem )) {
    .item-works {
      gap: calc(2.5rem + 5.625 * (100vw - 61.99875rem) / 23.87625);
    }
}

@supports (gap: clamp( 2.5rem , -8.8604326999rem  +  18.3236479765vw , 6.875rem )) {
    .become__items {
      gap: clamp( 2.5rem , -8.8604326999rem  +  18.3236479765vw , 6.875rem );
    }
}

@supports not (gap: clamp( 2.5rem , -8.8604326999rem  +  18.3236479765vw , 6.875rem )) {
    .become__items {
      gap: calc(2.5rem + 4.375 * (100vw - 61.99875rem) / 23.87625);
    }
}

@supports (padding-block: clamp( 3.125rem , -4.9895947856rem  +  13.0883199832vw , 6.25rem )) {
    .become__items_student .become__content {
      padding-block: clamp( 3.125rem , -4.9895947856rem  +  13.0883199832vw , 6.25rem );
    }
}

@supports not (padding-block: clamp( 3.125rem , -4.9895947856rem  +  13.0883199832vw , 6.25rem )) {
    .become__items_student .become__content {
      padding-block: calc(3.125rem + 3.125 * (100vw - 61.99875rem) / 23.87625);
    }
}

@supports (padding-right: clamp( 1.25rem , -9.2989732213rem  +  17.0148159782vw , 5.3125rem )) {
    .become__items_student .become__content {
      padding-right: clamp( 1.25rem , -9.2989732213rem  +  17.0148159782vw , 5.3125rem );
    }
}

@supports not (padding-right: clamp( 1.25rem , -9.2989732213rem  +  17.0148159782vw , 5.3125rem )) {
    .become__items_student .become__content {
      padding-right: calc(1.25rem + 4.0625 * (100vw - 61.99875rem) / 23.87625);
    }
}

@supports (gap: clamp( 2.5rem , -8.0489732213rem  +  17.0148159782vw , 6.5625rem )) {
    .become__items_student {
      gap: clamp( 2.5rem , -8.0489732213rem  +  17.0148159782vw , 6.5625rem );
    }
}

@supports not (gap: clamp( 2.5rem , -8.0489732213rem  +  17.0148159782vw , 6.5625rem )) {
    .become__items_student {
      gap: calc(2.5rem + 4.0625 * (100vw - 61.99875rem) / 23.87625);
    }
}

@supports (gap: clamp( 2.5rem , -17.786486964rem  +  32.7207999581vw , 10.3125rem )) {
    .last-block__body {
      gap: clamp( 2.5rem , -17.786486964rem  +  32.7207999581vw , 10.3125rem );
    }
}

@supports not (gap: clamp( 2.5rem , -17.786486964rem  +  32.7207999581vw , 10.3125rem )) {
    .last-block__body {
      gap: calc(2.5rem + 7.8125 * (100vw - 61.99875rem) / 23.87625);
    }
}

@supports (right: clamp( -5.625rem , 7.8625137427rem  +  -15.7059839799vw , -1.875rem )) {
    .last-block__items::before {
      right: clamp( -5.625rem , 7.8625137427rem  +  -15.7059839799vw , -1.875rem );
    }
}

@supports not (right: clamp( -5.625rem , 7.8625137427rem  +  -15.7059839799vw , -1.875rem )) {
    .last-block__items::before {
      right: calc(-1.875rem + -3.75 * (100vw - 61.99875rem) / 23.87625);
    }
}
}

@media (min-width: 61.99875em) and (max-width: 90.625em) {
@supports (bottom: clamp( -3.75rem , -6.7279758526rem  +  4.8032836994vw , -2.375rem )) {
    .picture-advantages__descr-block {
      bottom: clamp( -3.75rem , -6.7279758526rem  +  4.8032836994vw , -2.375rem );
    }
}

@supports not (bottom: clamp( -3.75rem , -6.7279758526rem  +  4.8032836994vw , -2.375rem )) {
    .picture-advantages__descr-block {
      bottom: calc(-3.75rem + 1.375 * (100vw - 61.99875rem) / 28.62625);
    }
}
}

@media (min-width: 61.99875em) and (max-width: 103.125em) {
@supports (left: clamp( -5.125rem , 1.4572467402rem  +  -6.3827847178vw , -2.5rem )) {
    .picture-advantages__descr-block {
      left: clamp( -5.125rem , 1.4572467402rem  +  -6.3827847178vw , -2.5rem );
    }
}

@supports not (left: clamp( -5.125rem , 1.4572467402rem  +  -6.3827847178vw , -2.5rem )) {
    .picture-advantages__descr-block {
      left: calc(-2.5rem + -2.625 * (100vw - 61.99875rem) / 41.12625);
    }
}
}

@media (max-width: 61.99875em) and (min-width: 31.18625em) and (max-width: 61.99875em) {
@supports (left: clamp( -5.125rem , 0.1568407708rem  +  -8.5192697769vw , -2.5rem )) {
    .picture-advantages__descr-block {
      left: clamp( -5.125rem , 0.1568407708rem  +  -8.5192697769vw , -2.5rem );
    }
}

@supports not (left: clamp( -5.125rem , 0.1568407708rem  +  -8.5192697769vw , -2.5rem )) {
    .picture-advantages__descr-block {
      left: calc(-2.5rem + -2.625 * (100vw - 31.18625rem) / 30.8125);
    }
}
}

@media (max-width: 61.99875em) and (min-width: 48.06125em) and (max-width: 61.99875em) {
@supports (padding-block: clamp( 2rem , -5.1122029148rem  +  14.798206278vw , 4.0625rem )) {
    .become__items_student {
      padding-block: clamp( 2rem , -5.1122029148rem  +  14.798206278vw , 4.0625rem );
    }
}

@supports not (padding-block: clamp( 2rem , -5.1122029148rem  +  14.798206278vw , 4.0625rem )) {
    .become__items_student {
      padding-block: calc(2rem + 2.0625 * (100vw - 48.06125rem) / 13.9375);
    }
}
}

@media (any-hover: hover) {
  .btn_fill:hover {
    background-color: #d36702;
  }

  .btn_border:hover {
    background-color: #cb915c;
    color: var(--lightColor);
  }

  ._header-scroll .header__wrapper:hover {
    background-color: rgba(255, 255, 255, 0.9);
  }

  .menu__link:hover {
    color: var(--orangeColor);
  }

  .actions-header__item:hover .actions-header__wrapper-menu {
    opacity: 1;
    visibility: visible;
    pointer-events: auto;
    translate: 0 0;
  }

  .actions-header__item:hover .actions-header__current-icon {
    rotate: 180deg;
  }

  .footer__link:hover {
    color: var(--lightColor);
  }

  .item-menu-footer__link:hover {
    color: var(--lightColor);
  }

  .item-menu-footer__social:hover svg {
    stroke: var(--lightColor);
  }

  .drop-menu__item:hover {
    background-color: #ffebd7;
  }

  .form-search__button:hover {
    background-color: var(--creamyColor);
  }

  .content-hero__more-video:hover {
    color: var(--orangeColor);
  }

  .content-hero__more-video:hover svg {
    stroke: var(--mainColor);
  }

  .learn__more:hover {
    color: var(--orangeColor);
  }

  .learn__more:hover svg {
    rotate: 90deg;
    stroke: var(--mainColor);
  }

  .item-learn:hover:not(.item-learn_burning) {
    background-color: #fffdf4;
  }

  .item-learn:hover:not(.item-learn_burning) .item-learn__header-icon {
    rotate: -135deg;
  }

  .item-learn_burning:hover {
    background-color: #c0630c;
  }

  .become__info:hover {
    color: var(--orangeColor);
  }

  .become__info:hover svg {
    stroke: var(--mainColor);
  }

  .article-blog__image:hover img {
    scale: 1.05;
  }

  .article-blog__title-link:hover {
    color: var(--orangeColor);
  }
}

@media (any-hover: none) {
  ._header-scroll .header__wrapper {
    background-color: rgba(255, 255, 255, 0.8);
  }

  .menu__link:active {
    color: var(--orangeColor);
  }

  .footer__link:active {
    color: var(--lightColor);
  }

  .item-menu-footer__link:active {
    color: var(--lightColor);
  }

  .item-menu-footer__social:active svg {
    stroke: var(--lightColor);
  }

  .drop-menu__item:active {
    background-color: #ffebd7;
  }

  .form-search__button:active {
    background-color: var(--creamyColor);
  }

  .content-hero__more-video:active {
    color: var(--orangeColor);
  }

  .content-hero__more-video:active svg {
    stroke: var(--mainColor);
  }

  .learn__more:active {
    color: var(--orangeColor);
  }

  .learn__more:active svg {
    rotate: 90deg;
    stroke: var(--mainColor);
  }

  .item-learn:active:not(.item-learn_burning) {
    background-color: #fffdf4;
  }

  .item-learn_burning:active {
    background-color: #c0630c;
  }

  .become__info:active {
    color: var(--orangeColor);
  }

  .become__info:active svg {
    stroke: var(--mainColor);
  }

  .article-blog__title-link:active {
    color: var(--orangeColor);
  }
}